<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <!--将片段引入到该处, 使用片段的标签替换掉div标签-->
    <div th:replace="~{header :: demo}"></div>

    <!--将片段引入到该处, 使用片段的内容插入到div标签-->
    <div th:include="~{header :: demo}"></div>

    <!--将片段引入到该处, 使用片段的所有内容插入到div标签-->
    <div th:insert="~{header :: demo}"></div>
</body>
</html>